player-connection-mode=Listen
player-connection-guid=2303458963
player-connection-debug=0
player-connection-project-name=Catpocalypse
player-connection-ip=192.168.1.13
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c2d63b0bd6554f58bbb6dffa22cd7667
